

.navbar-inverse {
  background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
  border: 1px solid #A35700;
}
.navbar-inverse .navbar-brand {
  color: #eeeeee;
}

.navbar-inverse .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
  font-weight: bold;
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

hr {
  margin-bottom : -10px;
  border-width : 2px 0 0;
}

.btn-ncf {
    background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
    border-color: #B86200;
    color: #eeeeee;
}

.btn-ncf:hover, .btn-ncf:focus, .btn-ncf:active, .btn-ncf.active, .open .dropdown-toggle.btn-ncf {
    background-image: linear-gradient(#EF9552, #DE6A19 50%, #A84719);
    border-color: #A84719;  
    color: #eeeeee;   
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    //background-image: linear-gradient(#EF9552, #DE6A19 50%, #A84719);
    //color: #eeeeee;
    //text-decoration: none;
}

.dropdown-menu {
    border:0;
    padding:0;
}

.dropdown-menu > li > a {
    font-size: 10px;
    text-decoration: none;
}

.panel-ncf {
    border-color: #B86200;
}
.panel-ncf > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #B86200;
}

.panel-ncf > .panel-heading {
    background-color: #FFA033;
    border-color: #FFA033;
    color: #eeeeee;
}

.panel-ncf > .panel-body {
    
    background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
}

.panel-body {    
    padding:0;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.editForm{
    padding-right: 0;
}


.right-panel {
  padding-left: 0;
  padding-right: 30px;
}

.affix{
    position: fixed;
    top: 10px;
    width:16.6667%;
    padding-right:25px;
}

.panel-body > .form-group:first-of-type {
    margin-top: 15px;
}

.right-panel .panel-title {
    font-size: 13px;
}

.method-actions {
    margin: 0 5px;
}

.bs-sidenav {
    margin-bottom: 20px;
    margin-top: 40px;
}
.bs-sidebar .nav > li > a {
    color: #999999;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 15px;
    text-align: right;
}
.bs-sidebar .nav > li > a:focus, .bs-sidebar .nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0);
    border-right: 1px solid #B94846;
    color: #B94846;
    padding-right: 14px;
    text-decoration: none;
}
.bs-sidebar .nav > .active:focus > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active > a {
    background-color: rgba(0, 0, 0, 0);
    border-right: 2px solid #B94846;
    color: #B94846;
    font-weight: 700;
    padding-right: 13px;
}
.bs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}
.bs-sidebar .nav .nav > li > a {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 2px;
    padding-right: 30px;
    padding-top: 2px;
}
.bs-sidebar .nav .nav > li > a:focus, .bs-sidebar .nav .nav > li > a:hover {
    padding-right: 29px;
}
.bs-sidebar .nav .nav > .active:focus > a, .bs-sidebar .nav .nav > .active:hover > a, .bs-sidebar .nav .nav > .active > a {
    font-weight: 500;
    padding-right: 28px;
}