<html ng-app="ncf">
  <head>
    <script src="js/angular.js"></script>
      
    <script src="js/ncf.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-0.10.0.js"></script>
    <script src="js/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="js/modules/debounce.js"></script>
    <script src="js/modules/dimensions.js"></script>
    <script src="js/scrollspy/scrollspy.js"></script>
    <script src="js/modules/affix.js"></script>
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="isOpen = !isOpen">
        <h4 class="panel-title">
          <a class="accordion-toggle"  accordion-transclude="heading">{{heading}}</a>
        </h4>
      </div>
      <div class="panel-collapse" collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
      </div>
    </div>
    </script>
  </head>
  <body>
            <div role="navigation" class="navbar navbar-inverse navbar-static-top">
    <div>
        <div class="navbar-header">
            <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">ncf builder</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a >Create and modify your own ncf technique</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
      </div>
      

    <div ng-controller="generic" class="container Override">
<div class="row fill">
      <div class="col-md-2 ncf_col" style=" border-right:5px #DDDDDD solid; ">

          <table class="table table-hover table-condensed" style="margin-top:20px">
              <thead>
                  <tr><th> 
                      
                      <div class=" col-sm-4 col-sm-offset-2">Techniques</div>
                      <div class=" col-sm-2 col-sm-offset-1">
                      <button ng-click="newTechnique()" class="btn btn-xs btn-default ">New</button>
                    </div>
                      <div class=" col-sm-10 col-sm-offset-1" style="margin-top:6px; margin-bottom:6px;">
          <div class="input-group input-group-sm">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
              <input type="text" class="form-control" placeholder="Search" ng-model="searchText.name">
          </div>
                      </div>
                      
                      </th></tr>
              </thead>
              <tbody>
                     <tr  ng-repeat="technique in techniques | filter:searchText track by $index" ng-click="selectTechnique(technique,$index)" >
                  <td href="#" ng-class="{'active': isSelected(technique)}"><span class="col-md-10">{{technique.name}} </span>  <i type="button" class="glyphicon pull-right method-actions" ng-class="{'glyphicon-chevron-left': isSelected(technique), 'glyphicon-chevron-right': !isSelected(technique)}"></i></td>
              </tr>
                  </tbody>
</table>

      </div>
        

      <div class="col-md-4 ncf_col"  ng-show="selected"  style="border-right:5px #DDDDDD solid;" >
        <div>
        <form class="form-horizontal col-md-12 editForm" name="editForm">
        <div class="title">Technique</div>
        <h3 >{{original.name}}</h3>
        
            
            <accordion close-others="oneAtATime">
            <accordion-group ng-init="isopen = true" is-open="isopen">
                     <accordion-heading>
                          <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
            General information
        </accordion-heading>
        <div class="form-group">
          <label for="techniqueName" class="col-sm-3 control-label">Name:</label>
          <div class="col-sm-8">
            <input  type="text" id="techniqueName" class="form-control" ng-model="selected.name" placeholder="Technique Name">
          </div>
        </div>
        <div class="form-group">
          <label for="techniqueDescription" class="col-sm-3 control-label">Description:</label>
          <div class="col-sm-8">
            <input  type="text" id="techniqueDescription" class="form-control" ng-model="selected.description" placeholder="Technique Description">
          </div>
        </div>
        <div class="form-group">
          <strong class="col-sm-3 text-right">Version:</strong>
          <div class="col-sm-8">
            {{selected.version}}
          </div>
        </div>
                </accordion-group>
        <ul class="list-unstyled" >
          <li ng-click="selectMethod(method_call,$index)" ng-repeat="method_call in selected.method_calls track by $index" class="panel-margin-top btn btn-block btn-default" ng-class="{'active': isSelectedMethod(method_call)}">
              <div class="" >
              <div class="panel-heading" style="overflow:hidden">
        <h4 class="panel-title">
           <div class="col-sm-12">        
              <span class="pull-left"> {{getMethodName(method_call)}} </span> 
            <i type="button" class="glyphicon pull-right method-actions" ng-class="{'glyphicon-chevron-left': isSelectedMethod(method_call), 'glyphicon-chevron-right': !isSelectedMethod(method_call)}"></i>
            <i aria-hidden="true" class="glyphicon glyphicon-trash pull-right method-actions" ng-click="removeMethod($index); $event.stopPropagation();"></i>
            <i type="button" class="glyphicon glyphicon-circle-arrow-down pull-right method-actions" aria-hidden="true" ng-hide="$index === selected.method_calls.length - 1" ng-click="moveUp($index); $event.stopPropagation();"></i>
            <i type="button" class="glyphicon glyphicon-circle-arrow-up pull-right method-actions" aria-hidden="true" ng-hide="$index === 0" ng-click="moveDown($index); $event.stopPropagation();"></i>
        </div>
            <div class="col-sm-12">
              <small class="pull-left" style="margin-top:4px" > <i class="glyphicon glyphicon-info-sign"></i> {{getMethodDescription(method_call)}}</small>
                </div>
        </h4>
      </div></div>
              
      
          </li>
          <li class="panel-margin-top">
            
           <button class="btn btn-block btn-default" ng-click="openMethods()"><span class="glyphicon glyphicon-plus-sign"></span>Add new method</button>
          </li>
        </ul>
           <button ng-disabled="isUnchanged(selected)" class="btn btn-ncf" ng-click="resetTechnique()">Reset</button>
        <button ng-disabled="editForm.$invalid || isUnchanged(selected)" class="btn btn-ncf" ng-click="saveTechnique()">Save</button>
      </form>
        </div>
      </div>
          
     <div class="col-md-6 ncf_col"style="vertical-align:top;" ng-show="selectedMethod">
         <div   >
        <div class="title">Method</div>
        <h3 >{{getMethodName(selectedMethod)}}</h3>
            <form role="form" name="methodForm">
                <h4>Class context</h4>
                <div class="form-group" style="margin: 15px 10px">
           
                          <input  type="text"  class="form-control" ng-model="selectedMethod.class_context" placeholder="">

                  </div>
                
                <h4>Parameters</h4>
                <div class="form-group" style="margin: 15px 10px" ng-repeat="arg in selectedMethod.args track by $index">
                    <label for="{{$index}}">{{getArgName($index,selectedMethod)}}:</label>
           
                          <input  type="text" id="{{$index}}"  class="form-control" ng-model="arg.value" placeholder="">

                  </div>
                
           <button ng-disabled="isUnchangedMethod(selectedMethod)" class="btn btn-ncf" ng-click="resetMethod()">Reset</button>
        <button ng-disabled="methodForm.$invalid || isUnchangedMethod(selectedMethod)" class="btn btn-ncf" ng-click="saveMethod()">Save</button>
                </form>
      </div>
 </div>
       <div class="col-md-6 ncf_col" ng-show="addNew" >
        <h4 style="margin-top:40px">Generic Methods</h4>
           <div class="col-md-8">
                   <ul class="list-unstyled" ng-repeat="(kind,methods) in myMethods"  >
         <h5 id={{kind}}>{{capitaliseFirstLetter(kind)}} </h5>
          <li ng-click="addMethod(method)" ng-repeat="method in methods" class="panel-margin-top btn btn-block btn-default">
              <div class="" >
              <div class="panel-heading" style="overflow:hidden">
        <h4 class="panel-title">
           <div class="col-sm-12">        
              <span class="pull-left"> {{method.name}} </span> 
        </div>
            <div class="col-sm-12">
              <small class="pull-left" style="margin-top:4px" > <i class="glyphicon glyphicon-info-sign"></i> {{method.description}}</small>
                </div>
        </h4>
      </div></div>      
          </li>
           </ul>
           </div>
           <div class="col-md-4" class="bs-sidebar affix navbar">
    <ul class="nav bs-sidenav" data-offset-top="-80" bs-affix>
        <li ng-repeat="(kind,methods) in myMethods" class="active" bs-scrollspy-list><a ng-href="#{{kind}}" href="">{{capitaliseFirstLetter(kind)}} </a>
        </li>
    </ul>
        </div>

      </div>

    </div>
    </div>
  </body>
  
</html>
        
            
     

